
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*body {

}*/



.agroup {
   
    

    padding: 50px;

}

.header {
    background-color: blueviolet;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    
}

.header img {

    width: 100%;
    top: -100px;
  
}

.menu {
    background-color: cadetblue;
    padding: 1px;
}

.menu li {
    list-style: none;
    font-family: sans-serif;
   
    text-align: right;
    margin-right: 50px;
}
h1 {
    
    font-family: sans-serif;
    text-align: center;
    color: rgb(166, 207, 69);
}

.section {
    background-color: bisque;
    text-align: center;
    padding: 10px 10px;
    font-family: sans-serif;

}

.caja1 { 
    background-color: rgb(194, 159, 107);
    padding: 5px;
    margin: 10px;
    line-height: 1;
    border-radius: 10px;
}

.caja2 { 
    background-color: rgb(194, 159, 107);
    padding: 5px;
    margin: 10px;
    line-height: 1;
    border-radius: 10px;
}

.caja3 { 
    background-color: rgb(194, 159, 107);
    padding: 5px;
    margin: 10px;
    line-height: 1;
    border-radius: 10px;
}

.caja4 { 
    background-color: rgb(194, 159, 107);
    padding: 5px;
    margin: 10px;
    line-height: 1;
    border-radius: 10px;
}

.btn-1 {
    background-color: white; 
  color: black; 
  border: 2px solid #8b4caf;
  border-radius: 9px;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-1:hover {
    background-color: #8b4caf;
    color: white; 
    border-radius: 9px;
    
}

.btn-2 {
    background-color: white; 
  color: black; 
  border: 2px solid #8b4caf;
  border-radius: 9px;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-2:hover {
    background-color: #8b4caf;
    color: white; 
    border-radius: 9px;
    
}

.btn-3 {
    background-color: white; 
  color: black; 
  border: 2px solid #8b4caf;
  border-radius: 9px;
  padding: 5px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-3:hover {
    background-color: #8b4caf;
    color: white; 
    border-radius: 9px;
    
}

.btn-4 {
    background-color: white; 
  color: black; 
  border: 2px solid #8b4caf;
  border-radius: 9px;
  padding: 5px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-4:hover {
    background-color: #8b4caf;
    color: white; 
    border-radius: 9px;
    
}

footer {
    background-color: black;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer ul{
    line-height: 1;
    color: antiquewhite;
    font-family: sans-serif;
    text-align: right;
    margin-right: 20px;

}